<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
<h1>Hello {{user.first_name}}</h1> <a href="/logout" class="btn btn-info">Logout</a>

<fieldset>
   <legend> Your Trips! </legend>
    <table class = "table">

        <tr>

            
            <th>Destination</th>
            <th>Started Date</th>
            <th>End Date</th>
            <th>Plan</th>
            <th>Action</th>

        </tr>

        <tr>

            {% for show in show_list %}
            <td><a href="/trip/{{show.id}}">{{show.title}}</a></td>
            <td>   {{show.release_date}}</td>
            <td>   {{show.end_date}}</td>
            <td>{{show.description}}</td>
            <!-- <td><a href="/shows/{{show.id}}">Show</a></td> -->
            <td><a href="/trip/{{show.id}}/edit">Edit</a></td>
            <td><a href="/trip/{{show.id}}/delete">Delete</a></td>

        </tr>

        {% endfor %}

    </table>
</fieldset>
<hr>
<a href="/trip/new" class="btn btn-info">Add a new trip</a>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>