<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url("{% static 'How-I-Booked-Around-the-World-Trip-on-ANA-1.png' %}");
        /* background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%; */
    }
</style>

<body class="container p-3 mb-2 bg-light text-dark">
    <form action="/trip/{{show_list.id}}/update" method="POST">
        <div class="row align-items-start  border  p-3 mb-2 bg-dark bg-gradient text-white">

            <div class="col ">
                <h1>Hello {{user.first_name}} let's edit your trip!</h1>
            </div>
            <div class="col">
                <a href="/dashboard"> <button type="button" class="btn btn-info">Dashboard </button> </a>
            </div>
        </div>
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br>
        <br>
        <h3>Destination: </h3>
        <input type="text" name="title" class="form-control" id="inputPassword2" value="{{show_list.title}}">
        <br>
        <br>

        <h3> Started Date: </h3>
        <input type="date" name="date_time" class="form-control" id="inputPassword2" value="{{show_list.release_date}}"
            required><br>
        <h3> End Date: </h3>
        <input type="date" name="end_time" class="form-control" id="inputPassword2" value="{{show_list.end_date}}"
            required><br>
        <h2> Plan:</h2>
        <!-- <input type="text" name = "description" value = "{{show_list.description}}"> -->
        <textarea class="form-control" id="floatingTextarea" name="description"
            placeholder="{{show_list.description}}">{{show_list.description}}</textarea>



        <br>
        <br>
        <button type='submit' type="button" class="btn btn-primary">Submit</button>
        <a href="/dashboard"><button type="button" class="btn btn-danger">Cancel</button></a>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>